html,body {
  margin: 0;

width: 100%;
}

.torupic {
  height: 180px;
  width: 200px;
  position: relative;
  top: 70px;
}

.allabout {

  color: #283148;
position: relative;
  top: 70px;
text-align: center;
 width:100%;
  font-size: 5rem;
  font-family: 'Concert One', cursive;

}

.divmiddle {

  background-color: #74b49b;
  　height: 900px;
  width: 100%;
　
  margin: 0 auto 0 auto;

}

.myself {
  font-size: 3rem;
  color: #222831;
  font-family: 'Lato', sans-serif;
  width: 95%;

  text-align: center;
}

.top {
  background-color: #acdeaa;
  height: 6%;

}

.bottomcat {
  height: 150px;
  width: 150px;
}

.topdog {
  height: 170px;
  width: 170px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.Teacherpic {
  height: 200px;
  width: 200px;
}

.middle-container {
  text-align: center;

  margin: 0;
  height: 140.5em;
  width: 100%
}

.hello {
  position: relative;
  top:100px;
}

.h2 {
  color: #074684;
  font-family: 'Lato', sans-serif;
  font-size: 2.875rem;
    line-height: 2;
}

.h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.56rem;
  color:  #11999E;
  line-height: 2;
}

.paragraph {
  line-height: 2;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.25rem;
}

.paragraphja {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.programmingsan {
  width: 200px;
  height: 200px;
}

.hr {
  display: block;
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  border-color: grey;
  width: 10%;
  margin-top: 0;
}

.skill-row2 {
  position: relative;
  top: 30px;
}

.skill-row3 {
  position: relative;
  top: 30px;
  margin: 0;
}

.skill-row {
  position: relative;
  top: 30px;
}


.bottom-container {
  background-color: #cdffeb;
  width: 100%;
  height: 800px;
  text-align: center;
  position: relative;
  margin: 0;
}

.btn { position: relative;
      margin: auto;
     font-size: 2rem;
    color: #11999E}
    .footer-link1 { display: inline
  ;
  position: relative;
       left:120px;
       bottom: 36px;
         font-size: 2rem;
        color: #11999E}
        .footer-link2 {
          position: relative;
         right: 110px;
               bottom: 74px;
                 font-size: 2rem;
                color: #11999E;
        }
