html, body {
  margin: 0;
  width: 100%;
}
body {text-align: center;}
h1,h2,h3,h4,h5,h6 { text-align: center;}

.hr {
  display: block;
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  border-color: grey;
  width: 10%;
  margin-top: 0;
}


.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navitem {
  padding: 0 18px;
}

.navlink {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Title section */
.title { padding: 7% 10%;
  background-color: #F0FFFF;
}
.bottomcat {
  height: 9.375rem;
  width: 9.375rem;
}

.topdog {
  height: 10.625rem;
  width: 10.625rem;
  position: relative;
  left: 50rem;
  bottom: 2rem;
}

.allabout {
  color: #41aaa8;
  width: 100%;
  font-size: 5rem;
    font-family: 'Bungee Inline', cursive;
}

.myself {
  font-size: 2.5rem;
  color: #41aaa8;
font-family: 'Patrick Hand SC', cursive;
text-align: center;
}


/* Profile section  */

.middle-container {
  padding: 7%;
  background-color: #fff;
  margin: 0;
  width: 100%;
  text-align: center;
}
.torupic {
  height: 11.25rem;
  width: 12.5rem;
  position: relative;
  top: 4rem;
  margin-bottom: 2rem;
}

/* Skills */
.skills {
padding: 10% 0 5% 0;
}
.Teacherpic {
  height: 12.5rem;
  width: 24%;
  float: right;
  margin-left: 1.25rem;
}



.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23494e44' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23494e44' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.hello {
  position: relative;
  top: 100px;
}


.h2{
  color: #074684;
  font-family: 'Lato', sans-serif;
  font-size: 2.875rem;
  line-height: 2;
}

.h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.56rem;
  color: #11999E;
  line-height: 2;
}

.paragraph {
  color:#4a4a48;
  line-height: 2;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.25rem;
}

.paragraphja {
    color:#4a4a48;
    line-height: 2;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.programmingsan {
  width: 24%;
  height: 12.5rem;
    float: left;
    margin-right: 1.25rem;
}

.skill-row2 {
  text-align: left;
  margin: 6.25rem 0 6.25rem 0;
 display: inline-block;
  width: 50%;

}
.translatorpic { width: 24%;
float: left;
  margin-right: 1.25rem;}
.skill-row3 {

text-align: left;
  margin: 6.25rem 0 6.25rem 0;
display: inline-block;
  width: 50%;
}

.skill-row {
  text-align: left;
    margin: 6.25rem 0 6.25rem 0;
  display: inline-block;
  width: 50%;

}

/* contacts */

.contacts{
 text-align: center;}

/* footer  */

.bottom-container {

  background-color: #F0FFFF;
  width: 100%;
  height:12.5rem;
text-align: center;

  margin: 0;
}

.footer-links {
 padding: 2%;
}

.footer-link1 {
  font-size: 2rem;
  font-family: 'Hanalei Fill', cursive;
  color: #000033;
  display: inline;
  margin-right: 2rem;
}

.footer-link2 {
  font-family: 'Hanalei Fill', cursive;
  font-size: 2rem;
  color: #000033;
}
.btn {
position: relative;
  top: 1rem;
   text-align: center;
  background: #95db8a;
  background-image: -webkit-linear-gradient(top, #95db8a, #4ea35f);
  background-image: -moz-linear-gradient(top, #95db8a, #4ea35f);
  background-image: -ms-linear-gradient(top, #95db8a, #4ea35f);
  background-image: -o-linear-gradient(top, #95db8a, #4ea35f);
  background-image: linear-gradient(to bottom, #95db8a, #4ea35f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5fedd5;
  background-image: -webkit-linear-gradient(top, #5fedd5, #3799db);
  background-image: -moz-linear-gradient(top, #5fedd5, #3799db);
  background-image: -ms-linear-gradient(top, #5fedd5, #3799db);
  background-image: -o-linear-gradient(top, #5fedd5, #3799db);
  background-image: linear-gradient(to bottom, #5fedd5, #3799db);
  text-decoration: none;
}
.copy{
color: #000033;
position: relative;
top: 2rem;}



a { text-decoration: none;}

a:hover{
  color: #207e82;
}

@media (max-width: 900px) {
.topdog {
  height: 10.625rem;
  width: 10.625rem;
  position: static;
}
.bottomcat {
  position: relative;
  left: 25rem;
}
}
