.u-section-1 {
  min-height: 862px;
}

.u-section-1 .u-shape-1 {
  height: 420px;
  margin-top: -16px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/thirosawa-indeed-0.jpg");
  background-position: 50% 50%;
  margin: -254px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 93px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 362px 0 387px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 527px;
    margin-left: 287px;
    margin-right: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 177px;
    margin-right: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 150px;
    height: 150px;
    margin-top: -111px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 28px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 37px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 870px;
}

.u-section-2 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -373px auto 42px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 719px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto, sans-serif;
  margin: 18px 9px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 719px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-3 {
  font-family: NanumGothic;
  margin: 94px 0 0 18px;
}

.u-section-2 .u-text-4 {
  font-family: NanumGothic;
  margin: 49px 18px 0 0;
}

.u-section-2 .u-image-1 {
  height: 106px;
  width: 247px;
  margin: 87px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 593px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 100vh;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 650px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -500px;
    margin-right: 21px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 844px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: 54px 192px 0 0;
}

.u-section-3 .u-image-1 {
  width: 269px;
  height: 219px;
  object-position: 60.81% 50%;
  margin: 25px auto 0 9px;
}

.u-section-3 .u-image-2 {
  width: 270px;
  height: 246px;
  margin: 138px 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 844px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 154px 30px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-family: NanumGothic;
  margin: 172px 10px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 696px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 92px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 696px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 7px;
    padding-bottom: 78px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 192px;
    height: 143px;
    margin-top: 59px;
    margin-left: 27px;
  }

  .u-section-3 .u-image-2 {
    width: 153px;
    height: 145px;
    margin-top: 74px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1231px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 60px 227px 0 288px;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 970px;
  margin: 40px auto 60px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 588px;
  background-image: none;
  margin-right: auto;
  margin-left: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  letter-spacing: 3px;
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: 8px 33px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  margin-bottom: 0;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 588px;
  background-image: none;
  margin-right: auto;
  margin-left: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 11px 30px 66px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: -30px -11px 0 -66px;
}

.u-section-4 .u-text-6 {
  line-height: 1.8;
  margin: 0 -11px 0 -66px;
}

.u-section-4 .u-list-icon-9 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-10 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-11 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-12 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-13 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-14 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-15 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-16 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-17 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-18 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-19 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-20 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-21 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-22 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-23 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-24 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-25 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-26 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-list-icon-27 {
  color: rgb(16, 129, 224) !important;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 588px;
  background-image: none;
  margin-right: auto;
  margin-left: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 30px 8px;
}

.u-section-4 .u-text-7 {
  margin: 0 0 0 -8px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 565px;
    margin-left: 188px;
    margin-right: 127px;
  }

  .u-section-4 .u-accordion-1 {
    width: 940px;
  }

  .u-section-4 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-4 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-4 .u-text-7 {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 78px;
    margin-right: 17px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-accordion-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("https://images.squarespace-cdn.com/content/v1/55e07c58e4b07ab106b7265a/1453600681759-R38K406E2WU9MF8QYHE1/ke17ZwdGBToddI8pDm48kPqQfq0L3n3wpHIsRapTfg8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKczo5Zn4xktlpMsMj-QlHXeMfNK6GwvtVkYEWiR8XAPyD3GfLCe_DXOSC_YcAacWL_/BLOG+2.jpg?format=1500w");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-family: NanumGothic;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 712px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-family: NanumGothic;
  margin: 0 42px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 250px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin: 42px 505px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 27px 0 5px;
}

.u-section-6 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

.u-section-6 .u-list-icon-2 {
  color: rgb(132, 209, 82) !important;
}

.u-section-6 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

.u-section-6 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

.u-section-6 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

.u-section-6 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 405px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 95px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 10px;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(51,50,41,0.6), rgba(51,50,41,0.6)), url("images/2135386_medium2000.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 411px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  width: 670px;
  margin: 123px auto 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 42px auto 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-text-2 {
  letter-spacing: 2px;
  width: 527px;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-7 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}