body {
 background-color: #cccccc;
 background-image: url("images/back_up.jpg") no-repeat top center;
}

h2 {
color:#57595D;
font-family: "Lucida Console", Monaco, monospace;
}

iframe {
    display: block;
    border-style:none;
}
