body {
 background-color: #cccccc;
}

h2 {
color:#57595D;
font-family: "Lucida Console", Monaco, monospace;
}

iframe {
    display: block;
    border-style:none;
}

.content {
  max-width: 500px;
  margin: auto;
}

.last { 
 background-image: url("images/back.jpg");
}
