
body {
 background-color: #cccccc;
 background-image: url("images/mountain.jpg");
 background-position: bottom;
 background-repeat: no-repeat;
 background-size: 20% 100%;
}

h2 {
color:#57595D;
font-family: "Lucida Console", Monaco, monospace;
}

iframe {
    display: block;
    border-style:none;
}

.content {
  max-width: 500px;
  margin: auto;
}
 
